.wrapper {
    display: flex;
    position: relative;
}
.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #231b2e;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
    overflow: hidden;
    z-index: 3;
}
.sidebar-fix {
    width: 70px;
    z-index: 3;
}

.container {
    position: relative;
    width: calc(100% - 240px);
    overflow: hidden;
    margin-left: 240px;
    margin-bottom: 90px;
    transition: width 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
    @media (max-width: 1132px) {
        width: 100%;
        margin-left: 70px;
    }
}
.header {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #170f23;
    position: fixed;
    width: 100%;
    max-width: 1298px;
    min-width: 720px;
    padding: 0 59px;
    z-index: 2;
    top: 0;
}
.content {
    padding: 0 59px;
    margin-top: 70px;
    min-width: 760px
}
.play-music-wrapper {
    position: fixed;
    height: 90px;
    width: 100%;
    padding: 0 20px;
    background-color: #130c1c;
    bottom: 0;
    z-index: 5;
}
