.wrapper {
    display: flex;
    position: relative;
}
.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #231b2e;
    position: sticky;
    top: 0;
}

.container {
    position: relative;
    flex: 1;
    overflow: hidden;

    margin-bottom: 90px;
}
.header {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #170f23;
    position: fixed;
    width: 100%;
    max-width: 1298px;
    min-width: 720px;
    padding: 0 59px;
    z-index: 10;
    top: 0;
}
.content {
    padding: 0 59px;
    margin-top: 70px;
}
.play-music-wrapper {
    position: fixed;
    height: 90px;
    width: 100%;
    padding: 0 20px;
    background-color: #130c1c;
    bottom: 0;
}
