.btn-song {
    margin-bottom: 20px;
}
.base {
    font-size: 12px;
    padding: 4px 10px;
    color: white;
    background-color: none;
    border: 1px solid #ffffff;
    border-radius: 9999px;
    margin-left: 16px;
}
.pick {
    color: white;

    background-color: #9b4de0;
    border: 1px solid #9b4de0;
    border-radius: 9999px;
}
