.wrapper {
    width: 30%;
    height: 90px;
    display: flex;
    align-items: center;
}
.thumb-music-img {
    width: 60px;
    border-radius: 3px;
}
.music-title {
    font-size: 14px;
    color: white;
    font-weight: 700;
    &:hover {
        color: #c26ee8;
    }
}
.music-title-nohover {
    font-size: 14px;
    color: white;
    font-weight: 700;
}
.music-singer {
    font-size: 12px;
    color: #afafaf;
    cursor: pointer;
    &:hover {
        color: #c26ee8;
        text-decoration: underline;
    }
}
.title {
    margin-left: 10px;
}
.heart {
    margin: 0 20px;
    cursor: pointer;
}
.more {
    padding: 0 5px;
}
// css small
.wrapper-small {
    height: 40px;
    width: 50%;
}
.thumb-small {
    width: 40px;
    height: 40px;
    border-radius: 3px;
}
