.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    p {
        font-size: 16px;
        color: #8b878b;
        margin-top: 16px;
        font-weight: 600;
    }
}
.img {
    background-image: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/empty-mv-dark.png');
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

